{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
    
}

body{
    
    
}
nav{
    background: #0082e6;
    height: 100px;
    width: 100%;
    text-align: center;
    overflow: auto;
    
}
.logoPic{
    height: 80px;
    margin: 10px 0 20px 20px;
    vartical-align: bottom;
    float: left;
}
label.logo{
    color:white;
    font-size:40px;
    line-height:90px;
    padding:0 40px;
    font-width:bold;
    float: left;
}

  }

nav ul{
    float: left;
    margin-right:10px;
    text-decoration: none;
    
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}
nav ul li a{
    color:white;
}
.navButton{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
    padding:3px 3px;
    border-radius:10px;
    cursor: pointer; 
    border: none;
    display:block;
}

.navButton :hover{
    background-color: #3498eb;
    transition:  0.5s;
    box-shadow: 1px;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 7px;
    
}
/* Add these styles to your external CSS file, e.g., styles.css */
.navbar-brand {
    font-size: 24px; /* Adjust the font size as needed */
}
.nav-link:hover{
    color:white !important;
}
.bgImage{
    
    /* filter: blur(1px);
    background: fixed;
    background-size:cover; */
    position: relative;
    background-size: cover; 
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    width:100%;

}
.form-control{
    position: absolute;
    top: 10%; /* Position the form container vertically centered */
    left: 60%; 
    padding: 20px;
    max-width: 400px; 
    width: 100%;
}
.card{
    transition: all 0.2s ease;
    cursor: pointer;
}
.card:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
.cardContainer{
    background: #E3F2FD;
}
