/* body {
    margin: 0;
    padding: 0;
    background-image: url('../image/aiub.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    filter: blur;

  

#button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: #fff; 
    text-decoration: none; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px; 
    transition: background-color 0.3s ease;
}

#button1:hover {
    background-color: green; 
    color: black;
} 
#button2 {
    display: inline-block;
    background-color: blue;
    color: black;
    text-decoration:none;
}



} */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    /* font-family: montserat; */
    
}
nav{
    background: #0082e6;
    height: 100px;
    width: 100%;
    text-align: center;
    overflow: auto;
    
}
.logoPic{
    height: 80px;
    margin: 10px 0 20px 20px;
    vartical-align: bottom;
    float: left;
}
label.logo{
    color:white;
    font-size:40px;
    line-height:90px;
    padding:0 40px;
    font-width:bold;
    float: left;
}
.search{
    color:white;
    font-size:20px;
    line-height:50px;
    padding:0 40px;
    font-width:bold;
    float: left;
    border:none;
    margin-top: 25px;
    margin-bottom: 80px;
    margin-right: 10px;
    border-radius: 5px;
  

}
.navSearch button{
    float:left;
    margin-top: 25px;
    margin-bottom: 75px;
    margin-right: 16px;
    border-radius: 5px;
    padding: 7px 5px 5px 4px;
    background: #ddd;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.navSearch button:hover{
    background: #ccc;
}
nav ul{
    float: right;
    margin-right:10px;
    text-decoration: none;
    
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}
nav ul li a{
    color:white;
}
.navButton{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
    padding:3px 3px;
    border-radius:10px;
    cursor: pointer; 
    border: none;
    display:block;
}

.navButton :hover{
    background-color: #3498eb;
    transition:  0.5s;
    box-shadow: 1px;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 7px;
    
}
